<?xml version="1.0"?>
<config>
  <features>
	<optional>SHA1_PASSWORD</optional>
	<optional>SKIP_ORG_DELETES</optional>
	<optional>GROUPS</optional>
	<optional>SKIP_SUSPENDING_ADMINS</optional>
	<optional>SKIP_USER_DELETES</optional>
	<optional>SKIP_GROUP_DELETES</optional>
	<optional>GIVEN_NAME</optional>
	<optional>GROUP_OWNER</optional>
	<optional>FAMILY_NAME</optional>
	<optional>BASE64_PASSWORD</optional>
	<optional>SKIP_USERS</optional>
	<optional>SUPPRESS_DOMAIN</optional>
	<optional>SKIP_EXISTING_PASSWORDS</optional>
	<optional>SKIP_USER_PROFILES</optional>
	<optional>MD5_PASSWORD</optional>
	<optional>SKIP_ORGUNITS</optional>
  </features>
  <logging>
	<defaultLogLevel>INFO</defaultLogLevel>
	<format>[%d{ISO8601}] [%t] [%p] [%C{3}] %m%n</format>
	<logFile>C:\Users\jtmiller\SDS_sync.log</logFile>
	<maximumLogBytes>4294967296</maximumLogBytes>
	<logFileCount>1</logFileCount>
  </logging>
  <notification>
	<smtpRelay>smtp.gmail.com</smtpRelay>
	<useSmtpTLS>true</useSmtpTLS>
	<smtpAuthUserName>gsds@cmsd.k12.ms.us</smtpAuthUserName>
	<smtpAuthPasswordEncrypted>jJ5Nw1B+obA8yFM/b0GzYQ==</smtpAuthPasswordEncrypted>
	<fromAddress>gsds@cmsd.k12.ms.us</fromAddress>
	<toAddress>jmiller@cmsd.k12.ms.u</toAddress>
	<toAddress>pyoho@cmsd.k12.ms.us</toAddress>
	<ignoreRetrievalInfo>false</ignoreRetrievalInfo>
	<ignoreRetrievalWarnings>false</ignoreRetrievalWarnings>
	<ignoreRetrievalErrors>false</ignoreRetrievalErrors>
  </notification>
  <eventLimits>
	<deleteUserLimitPCT>5</deleteUserLimitPCT>
	<suspendUserLimitPCT>5</suspendUserLimitPCT>
	<deleteGroupLimitPCT>5</deleteGroupLimitPCT>
	<deleteOrgunitLimitPCT>5</deleteOrgunitLimitPCT>
  </eventLimits>
	<Settings>
		<csvdirectory>c:\users\pyoho\documents\github\adimportscripts\CSVs</csvdirectory>
		<FileNames>
			<Students>students.csv</Students>
			<Staff>staff.csv</Staff>
			<Rosters>rosters.csv</Rosters>
			<Classes>classes.csv</Classes>
			<Schools>schools.csv</Schools>
			<OrganizationalUnits>organizational_units.csv</OrganizationalUnits>
		</FileNames>
	</Settings>
	<DomainSettings>
		<StaffDomain>cmsd.k12.ms.us</StaffDomain>
		<StudentDomain>cmsd.k12.ms.us</StudentDomain>
		<ActiveDirectoryDomain>cmsd.local</ActiveDirectoryDomain>
	</DomainSettings>
</config>